div{
  background: linear-gradient(to right, aliceblue, beige);
}
div .content{
  width: 60%;
  height: 100%;
  margin: auto;
  margin-top: 60px;
  background: white;
  border: antiquewhite;
  border-radius: 10px;
}
hr{
  margin-top: 0px;
}
.content button{
  width: 50%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: large;
  background-color: white;
  color: black;
  border: 0;
}
#button_left{
  border-radius: 10px 0px 0px 0px;
}
#button_right{
  border-radius: 0px 10px 0px 0px;
}
#title{
  margin-top: 10px;
  font-size: xx-large;
  font-family: "Times New Roman", Georgia, Serif, serif;
  text-align: center;
}
#back{
  font-size: x-large;
  margin-left: 20px;
}

#questionStatistic{
  background: inherit;
  display: none;
}

#eachQuestion{
  background: inherit;
}



