<div>
  <app-dashboard></app-dashboard>
  <a id="back" [routerLink]="['/surveys']">&larr; Back</a>
  <p id="title">{{title}}</p>
  <div class="content">
    <button id="button_left" class="btn btn-light" (click)="onClickStatisticButton()">
      General statistic
    </button>
    <button id="button_right"  class="btn btn-light" (click)="onClickEachButton()">
      statistics of each of them separately
    </button>
    <hr>

    <div id="questionStatistic" [style.display]="whichShow=='questionStatistic'?'block':'none'">
    <ng-template #questionStatistic></ng-template>
    </div>

    <div id="eachQuestion" [style.display]="whichShow=='eachQuestion'?'block':'none'">
    <ng-template #eachQuestion></ng-template>
    </div>
  </div>
</div>
