<div>
  <a id="back" [routerLink]="['/surveys']">&larr; Back</a>
  <p id="title">{{title}}</p>
  <div id="center_panel" class="content shadow-sm p-3 mb-5 bg-white rounded">
    <button id="button_general" class="btn btn-light " (click)="onClickGeneralStatistic()">
      General statistic
    </button>
    <button id="button_separately"  class="btn btn-light " (click)="onClickSeparatelyStatistic()">
      statistics of each of them separately
    </button>

    <div id="generalStatistic" [style.display]="whichShow=='generalStatistic'?'block':'none'">
      <questionGeneralStatistic
        *ngFor="let question of questionsGeneral"
      [answers]="question.answers"
      [barChartData]="question.barChartData"
      [numberVoters]="question.numberVoters"
      [typeQuestions]="question.typeQuestions"
      [question]="question.question"
      [barChartLabels]="question.barChartLabels"
      [images]="question.images">
      </questionGeneralStatistic>
    </div>

    <div id="separatelyStatistic" [style.display]="whichShow=='separatelyStatistic'?'block':'none'">
      <questionSeparatelyStatistic
        *ngFor="let question of questionsSeparately"
        [email]="question.email"
        [models]="question.models"
      >

      </questionSeparatelyStatistic>
    </div>
  </div>
</div>
