#root{
  background: linear-gradient(to right, aliceblue, beige);
}
div .content{
  width: 60%;
  height: 100%;
  margin: auto;
  margin-top: 60px;
  background: white;
  border: antiquewhite;
  border-radius: 10px;
}
hr{
  margin-top: 0px;
}
.content button{
  width: 49%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: large;
}
#button_general{
  margin-right: 3px;
}
#button_separately{
  margin-left: 3px;
}
#title{
  margin-top: 10px;
  font-size: xx-large;
  font-family: "Times New Roman", Georgia, Serif, serif;
  text-align: center;
}

#back{
  font-size: x-large;
  margin-left: 20px;
}

#generalStatistic{
  background: inherit;
  display: none;
}

#separatelyStatistic{
  background: inherit;
}
#center_panel{
  min-height: 500px;
}
