<a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#basicModal">
  Add Contacts
</a>
<div class="modal fade" id="basicModal" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <form [formGroup]="dynamicForm">
    <div class="modal-dialog modal-custom" role="document">
      <div class="modal-content modal-content-custom">
        <div class="modal-header">
          <h4 id="title">Sending survey "{{title}}"</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="styleForAllForms" *ngIf="isShownTextarea">
            <tr>
              <th class="text-left">Enter multiple email addresses</th>
            </tr>
            <tr valign="top">
              <td class="text-center">
                <label>
              <textarea
                [class.is-invalid]="dynamicForm.get('emails1').invalid && dynamicForm.get('emails1').touched"
                rows="4" cols="120" name="email" formControlName="emails1" class="form-control"
                placeholder="email@gmail.com,email2@gmail.com,..."></textarea>
                  <div class="error" *ngIf="isControlInvalid('emails1')">
                    Emails is invalid
                  </div>
                </label>
              </td>
            </tr>
            <p>Please separate multiple addresses with commas</p>
            <div *ngIf="wrongEmails != null" class="errorMessage">{{wrongEmails}}</div>
            <div *ngIf="wrongEmails == null" class="successMessage">{{successfulMessage}}</div>
          </div>
          <div class="styleForAllForms" *ngIf="isShownInputType">
            <tr>
              <th>Email Address</th>
              <th class="text-center"></th>
            </tr>
            <tr *ngFor="let emailsArray of t.controls; let i = index" class="list-group list-group-flush">
              <div class="list-group-item">
                <td class="text-center">
                  <div [formGroup]="emailsArray" class="form-row">
                    <div class="form-group col-12">
                      <input type="text" formControlName="email" class="form-control" size="35"
                             [ngClass]="{ 'is-invalid': submitted && emailsArray.controls.email.errors }"/>
                      <div *ngIf="submitted && emailsArray.controls.email.errors" class="invalid-feedback">
                        <div *ngIf="emailsArray.controls.email.errors.required">Email is required</div>
                        <div *ngIf="emailsArray.controls.email.errors.email">Email must be a valid email address</div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="closeSign">
                  <div *ngIf="isShownRemoveSign">
                    <button type="button" class="close" (click)="removeEmail(i)"><span aria-hidden="true">×</span>
                    </button>
                  </div>
                </td>
              </div>
            </tr>
            <span class="box">
                    <button type="button" (click)="addEmail()" class="btn btn-default" aria-label="Left Align">
                      <fa-icon [icon]="icons.faPlusCircle"></fa-icon>
                      Add one more</button>
                    or
                    <button type="button" (click)="toggleShow()" type="checkbox" class="btn btn-default">
                      add many at once
                    </button>
                    or
                    <button type="button" (click)="toggleShow2()" type="checkbox" class="btn btn-default">
                      select contacts from group
                    </button>
                  </span>
            <div *ngIf="wrongEmails != null" class="errorMessage">{{wrongEmails}}</div>
            <div *ngIf="wrongEmails == null"
                 class="successMessage">{{successfulMessage}}</div>
          </div>
          <div class="styleForAllForms" *ngIf="isShownSelectContact">
            <tr>
              <th class="text-left">Select contacts</th>
            </tr>
            <ng-multiselect-dropdown
              [placeholder]="'Select Contact'"
              [data]="emailsSelect"
              formControlName="selectEmail"
              class="form-control"
              [settings]="dropdownSettings"
              (onSelect)="onItemSelect($event)">
            </ng-multiselect-dropdown>
            <div *ngIf="wrongEmails != null" class="errorMessage">{{wrongEmails}}</div>
            <div *ngIf="wrongEmails == null"
                 class="successMessage">{{successfulMessage}}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div *ngIf="isShownTextarea">
            <button class="btn btn-secondary mr-1" type="button" (click)="toggleShow()">Back</button>
          </div>
          <div *ngIf="isShownSelectContact">
            <button class="btn btn-secondary mr-1" type="button" (click)="toggleShow3()">Back</button>
          </div>
          <div>
            <button class="btn btn-primary mr-1" [disabled]="dynamicForm.invalid" (click)="onSubmit()">Send E-mail
            </button>
          </div>
          <div *ngIf="isShownInputType">
            <button class="btn btn-secondary mr-1" type="reset" (click)="onReset()">Reset</button>
          </div>
          <div *ngIf="!isShownSelectContact">
            <button class="btn btn-secondary mr-1" type="button" (click)="onClear()">Clear</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

