<div class="container  mt-3" style="min-height: 85%">
  <div class="row table-top">
    <div class="col-3">
      <h2 class="text-white font--weight--700">Contacts</h2>
    </div>
    <div class="col-9 icon--right">
      <em class="material-icons icon--button mt-1 text-warning font--size--2em" data-toggle="modal"
          data-target="#filterModal">filter_list</em>
      <em class="material-icons icon--button mt-1 text-success font--size--2em"
          data-toggle="modal"
          data-target="#createModal">add_box</em>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table *ngIf="items && items.length > 0; else noItems" class="table table-hover">
        <caption></caption>
        <thead>
        <tr>
          <th *ngFor="let item of tableHead" scope="col"
              [ngClass]="{gray:!item.field,default:item.field}"
              (click)="sort(item)">
            {{item.title}}
            <a *ngIf="item.selected">
              <fa-icon *ngIf="isDirectionAsc(item); else desc" [icon]="icons.faArrowUp"></fa-icon>
              <ng-template #desc>
                <fa-icon [icon]="icons.faArrowDown"></fa-icon>
              </ng-template>
            </a>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items;let index = index">
          <th scope="row">{{itemNumber(index)}}</th>
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td>
            <a data-toggle="modal" data-target="#updateModal" (click)="openEdit(item)">
              <fa-icon class="edit mr-2 icon--button text-info" [icon]="icons.faEdit"></fa-icon>
            </a>
            <a data-toggle="modal" data-target="#deleteModal" (click)="changeTempItemId(item)">
              <fa-icon class="delete mr-2 icon--button text-danger" [icon]="icons.faTrash"></fa-icon>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <ng-template #noItems>
        <div class="alert alert-danger" role="alert" data-toggle="modal" data-target="#createModal">
          You have no contacts. Click here to add new!
        </div>
      </ng-template>
    </div>
  </div>
  <div *ngIf="items && items.length > 0 && pageable.lastPage > 1" class="row">
    <div class="d-flex col-12">
      <nav>
        <ul class="pagination">
          <li class="page-item" [ngClass]="{disabled:pageable.currentPage === 1}">
            <a class="page-link" (click)="previousPage()">Previous</a>
          </li>
          <li class="page-item" *ngFor="let page of buildPages()" [ngClass]="{active:pageable.currentPage === page}">
            <a class="page-link" (click)="setPage(page)">{{page}}</a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pageable.currentPage === pageable.lastPage}">
            <a class="page-link" (click)="nextPage()">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div class="modal fade" id="createModal" tabindex="-1"
     role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createLabel">Add contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [formControl]="nameForm">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" [formControl]="emailForm">
      </div>
      <div class="modal-footer">
        <label for="file-input">
          <fa-icon [icon]="icons.faFileUpload"></fa-icon>
        </label>
        <input id="file-input" type="file" (change)="importFromCsv($event)"/>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <fa-icon [icon]="icons.faFileDownload"></fa-icon>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="createContact()"
                data-dismiss="modal">Confirm
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalTitle"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <label for="filterName">Filter</label>
        <input type="text" class="form-control" [formControl]="filterForm" id="filterName">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clearFilter()">Clear</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="filter()"
                data-dismiss="modal">Confirm
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="updateModal" tabindex="-1"
     role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateLabel">Update contact {{getContact()}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="updateName">Name</label>
        <input type="text" class="form-control" id="updateName" [formControl]="nameForm">
        <label for="updateEmail">Email</label>
        <input type="text" class="form-control" id="updateEmail" [formControl]="emailForm">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="update()"
                data-dismiss="modal">Confirm
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1"
     role="dialog" aria-labelledby="editTitleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteLabel">Delete {{getContact()}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="delete()"
                data-dismiss="modal">Confirm
        </button>
      </div>
    </div>
  </div>
</div>
