<div class="question">

  <div [formGroup]="oneQuestionGroup" class="answer" *ngIf="oneQuestion.type === 'CHECKBOX'">
    <h4 class="font-weight-bold">
      {{oneQuestion.index + ". " + oneQuestion.value}}
      <input formControlName="questionId" type="hidden" ngModel="{{oneQuestion.id}}" value="{{oneQuestion.id}}"/>
    </h4>
    <p *ngFor="let answer of oneQuestion.choiceAnswers">
      <input type="checkbox" [value]="answer" (change)="onCheckChange($event)">{{answer}}
    </p>
  </div>

  <div [formGroup]="oneQuestionGroup" class="answer" *ngIf="oneQuestion.type === 'RADIOBUTTON'">
    <h4 class="font-weight-bold">
      {{oneQuestion.index + ". " + oneQuestion.value}}
      <input formControlName="questionId" type="hidden" ngModel="{{oneQuestion.id}}" value="{{oneQuestion.id}}"/>
    </h4>
    <p *ngFor="let answer of oneQuestion.choiceAnswers" >
      <input formControlName="answers" type="radio" ngModel="{{answer}}" value="{{answer}}">{{answer}}
    </p>
  </div>

  <div [formGroup]="oneQuestionGroup"  class="answer" *ngIf="oneQuestion.type === 'TEXTAREA'">
    <h4 class="font-weight-bold">
      {{oneQuestion.index + ". " + oneQuestion.value}}
      <input formControlName="questionId" type="hidden" ngModel="{{oneQuestion.id}}" value="{{oneQuestion.id}}"/>
    </h4>
    <p>
      <textarea formControlName="answers" name="answers" cols="60" rows="6"></textarea>
    </p>
  </div>

  <div [formGroup]="oneQuestionGroup"  class="answer" *ngIf="oneQuestion.type === 'TEXTBOX'">
    <h4 class="font-weight-bold">
      {{oneQuestion.index + ". " + oneQuestion.value}}
      <input formControlName="questionId" type="hidden" ngModel="{{oneQuestion.id}}" value="{{oneQuestion.id}}"/>
    </h4>
    <p>
      <input formControlName="answers" name="answers" size=35 maxlength=50>
    </p>
  </div>

  <div class="answer" *ngIf="oneQuestion.type === 'CHECKBOX_PICTURE'">
    <h4 class="font-weight-bold">
      {{oneQuestion.index + ". " + oneQuestion.value}}
    </h4>
    <p *ngFor="let answer of oneQuestion.choiceAnswers; index as i">
      <input type="checkbox" [value]="answer" (change)="onCheckChange($event)">
      <img [src]="previewUrls[i]" style="max-width:300px;width:auto;max-height: 300px;height:auto" alt="">
    </p>
  </div>

  <div [formGroup]="oneQuestionGroup" class="answer" *ngIf="oneQuestion.type === 'RADIO_PICTURE'">
    <h4 class="font-weight-bold">
      {{oneQuestion.index + ". " + oneQuestion.value}}
    </h4>
    <p *ngFor="let answer of oneQuestion.choiceAnswers; index as i">
      <input formControlName="answers" type="radio" ngModel="{{answer}}" value="{{answer}}">
      <img [src]="previewUrls[i]" style="max-width:300px;width:auto;max-height: 300px;height:auto" alt="">
    </p>
  </div>
</div>

