<div class="question" id="question{{question.index}}">
    <div id="questionBox">
      <div id="questionNumber">
        <h4 id="inputQuestion">Question {{question.index}}</h4>
      </div>
      <div id="isRequired" title="is required question?">
        <label class="switch">
          <input type="checkbox" [(ngModel)]="question.required">
          <span class="slider round"></span>
        </label>
      </div>
    </div>

    <div class="form-group" id="userQuestion">
      <input type="text" name="userQuestion" class="form-control" placeholder="Input your question"
             [(ngModel)]="question.question" id="UserQuestion{{question.index}}">
    </div>

  <form>
    <select (change)="setType($event)"  [hidden]="question.type !='not set' " class="custom-select" id="selectTypeOfAnswer">
      <option disabled>SELECT ANSWER TYPE</option>
      <option value="TEXTBOX">TEXTBOX</option>
      <option value="RADIOBUTTON">RADIOBUTTON</option>
      <option value="CHECKBOX">CHECKBOX</option>
      <option value="RADIO_PICTURE">RADIO_PICTURE</option>
    </select>


    <div *ngIf="question.type === 'CHECKBOX'" class="answer">
      <p *ngFor="let answer of question.answers; index as i">
        <img src="https://img.icons8.com/material-outlined/24/000000/unchecked-checkbox.png">

        <input class="checkboxAnswer" #VariantAnswer (change)="setAnswerVariant(i, VariantAnswer.value)" name="answer{{question.index}}" [value]="answer">

        <button type="button" class="btn btn-secondary" class="deleteVariant" (click)="deleteVariant(i)">x</button>
      </p>
      <button type="button" [disabled]="isButtonDisable" (click)="addAnswerVariant()">ADD
        VARIANT
      </button>
    </div>
    <div *ngIf="question.type === 'RADIOBUTTON'" class="answer">
      <p *ngFor="let answer of question.answers; index as i">
        <img src="https://img.icons8.com/ios/24/000000/unchecked-radio-button.png">
        <input class="radiobuttonAnswer" value="{{answer}}" #variantOfAnswer
               (change)="setAnswerVariant(i,variantOfAnswer.value)">
        <button type="button"  class="deleteVariant" (click)="deleteVariant(i)">x</button>
      </p>
      <button type="button" class="btn btn-secondary" [disabled]="isButtonDisable" (click)="addAnswerVariant()">ADD
        VARIANT
      </button>
    </div>
    <div *ngIf="question.type === 'TEXTBOX'" class="answer">
      <p *ngFor="let answer of question.answers; index as i">
        <input type="text" name="userQuestion" class="form-control" [disabled]=true placeholder="Textbox for answer">
      </p>
    </div>

    <div *ngIf="question.type === 'RADIO_PICTURE'" class="answer">
      <p *ngFor="let answer of question.answers; index as i">
        <img src="https://img.icons8.com/ios/24/000000/unchecked-radio-button.png">
        <input type="file" id="file" (change)="uploadPhoto($event,i)" />
        <button type="button"  class="deleteVariant" (click)="deletePhoto(i)">x</button>
      </p>
      <button type="button" class="btn btn-secondary" [disabled]="isButtonDisable" (click)="addAnswerVariant()">ADD
        VARIANT
      </button>
    </div>

  </form>
</div>



