<div class="row mt-2">
  <div class="col-4 mt-2 ml-4">
    <a class="font-weight-500">Survey list</a>
  </div>
  <div class="col-3 col-sm-3 col-md-2 buttons" style="margin-left: auto">
    <div class="dropleft">
      <em class="material-icons button--icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">sort</em>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <h6 class="dropdown-header">Sorting</h6>
        <a class="dropdown-item" href="#">By alphabet <em class="material-icons">arrow_upward</em></a>
        <a class="dropdown-item" href="#">By alphabet <em class="material-icons">arrow_downward</em></a>
        <a class="dropdown-item" href="#">By date <em class="material-icons">arrow_upward</em></a>
        <a class="dropdown-item" href="#">By date <em class="material-icons">arrow_downward</em></a>
      </div>
    </div>
    <div class="dropright ml-2">
      <em class="material-icons button--icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">filter_list</em>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <h6 class="dropdown-header">Filter</h6>
        <a class="dropdown-item" href="#">All</a>
        <a class="dropdown-item" href="#">Active</a>
        <a class="dropdown-item" href="#">Not active</a>
        <a class="dropdown-item" href="#">Completed</a>
      </div>
    </div>
    <div class="dropright ml-2">
      <em class="material-icons button--icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">filter_9_plus</em>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <h6 class="dropdown-header">Size</h6>
        <a class="dropdown-item" href="#">12</a>
        <a class="dropdown-item" href="#">24</a>
        <a class="dropdown-item" href="#">36</a>
        <a class="dropdown-item" href="#">48</a>
      </div>
    </div>
  </div>
</div>
