<div class="row">
  <div class="col-3 offset-9">
    <div class="dropdown" style="display: inline-block">
      <em class="material-icons button--icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">sort</em>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">By date <em class="material-icons" style="font-size: 16px">arrow_downward</em></a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <div class="dropdown" style="display: inline-block">
      <em class="material-icons button--icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">filter_list</em>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
</div>
