
.question{
  width: 100%;
  cursor: pointer;
  display: block;
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  margin-bottom: 30px;
}
#deleteQuestion{
  position: relative;
  margin-top: 1%;
  margin-left: 90%;
}
#inputQuestion{
  font-family: 'Fjalla One', sans-serif;
}
#questionNumber{
  position: absolute;
  width: 90%;
}
.image-upload>input {
  display: none;
}
.tooltip .tooltiptext {
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
#pictureAnswer{
  max-width:600px;
}
#deleteVariant{
  font-size: 10px;
  text-align: center;
  width: 4%;
  height: 4%;
  margin-left: 3%;
}
#questionBox{
  margin-bottom: 7%;
}
#isRequired{
  margin-top: 1%;
  position: absolute;
  margin-left: 80%;
  width: 5%;
  height: 20%;
}
.formConstructor{
  margin-left: 30%;
  margin-top: 5%;
  width: 40%;
}
.answer{
  text-align : left;
}


input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#questionBlock{
  border: 2px dotted black;
}

/* The switch - the box around the slider */
.switch {
  display: block;
  position: relative;
  width: 35px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
