<div>
  <form (ngSubmit)="onSubmit()" #questionForm="ngForm">
    <h2 class="font-weight-normal">Hello, you logged in as</h2>
    <h2 class="font-weight-normal">{{contactEmail}}</h2>
    <br>
    <br>
    <p>
      <input type="hidden" value="{{contactEmail}}">
      <input type="hidden" value="{{surveyId}}">
      <app-one-question
        *ngFor="let question of quest"
        [oneQuestion] = question
      ></app-one-question>
    </p>
    <h4><button type="submit" class="btn btn-success" [disabled]="!questionForm.form.valid">Submit</button></h4>
  </form>
</div>

