  <div *ngIf="oneQuestion.type === 'CHECK'">
    <p>
      {{oneQuestion.value}}
      <input type="hidden" value="{{oneQuestion.id}}"/>
    </p>
    <p *ngFor="let answer of oneQuestion.answers">
      <input type="checkbox" name="{{answer}}">{{answer}}
    </p>
  </div>

  <div *ngIf="oneQuestion.type === 'RADIO'">
    <p>
      {{oneQuestion.value}}
      <input type="hidden" value="{{oneQuestion.id}}"/>
    </p>
    <p *ngFor="let answer of oneQuestion.answers">
      <input type="radio" name="radio" value="{{answer}}">{{answer}}
    </p>
  </div>

  <div *ngIf="oneQuestion.type === 'TEXTAREA'">
    <p>
      {{oneQuestion.value}}
      <input type="hidden" value="{{oneQuestion.id}}"/>
    </p>
    <p>
      <TEXTAREA name="textarea" cols=60 rows=6></TEXTAREA>
    </p>
  </div>

  <div *ngIf="oneQuestion.type === 'TEXTBOX'">
    <p>
      {{oneQuestion.value}}
      <input type="hidden" value="{{oneQuestion.id}}"/>
    </p>
    <p>
      <input type="text" name="UserName" size=35 maxlength=50 value="">
    </p>
  </div>

  <div *ngIf="oneQuestion.type === 'CHECKBOX_PICTURE'">
    <p>
      {{oneQuestion.value}}
      <input type="hidden" value="{{oneQuestion.id}}"/>
    </p>
    <p *ngFor="let answer of oneQuestion.answers">
      <input type="checkbox" name="">
      <img style="max-width: 200px; height: auto;" src="{{answer}}" alt="">
    </p>
  </div>

  <div *ngIf="oneQuestion.type === 'RADIO_PICTURE'">
    <p>
      {{oneQuestion.value}}
      <input type="hidden" value="{{oneQuestion.id}}"/>
    </p>
    <p *ngFor="let answer of oneQuestion.answers">
      <input type="radio" name="radio_picture" value="">
      <img style="max-width: 200px; height: auto;" src="{{answer}}" alt="">
    </p>
  </div>

  <div *ngIf="oneQuestion.type === 'PICTURE'">
    <p>
      {{oneQuestion.value}}
      <input type="hidden" value="{{oneQuestion.id}}"/>
    </p>
    <p *ngFor="let answer of oneQuestion.answers">
      <input type="radio" name="radio_picture" value="">
      <img style="max-width: 200px; height: auto;" src="{{answer}}" alt="">
    </p>
  </div>

